<p id="notice"><%= notice %></p>

<p>
  <strong>Direction content:</strong>
  <%= @direction.direction_content %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @direction.recipe_id %>
</p>

<%= link_to 'Edit', edit_direction_path(@direction) %> |
<%= link_to 'Back', directions_path %>
