<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary mt-2" %>


<div class = "row">
<%@recipes.each do |recipe|%>
  <div class="col-sm-3">
    <div class="card zoom">
    <%=image_tag recipe.image, class: "card-image-top img2"%>
      <div class="card-body">
        <h5 class="card-title"><%= recipe.recipe_name %></h5>
        <p class = "card-subtitle author">by <%=recipe.author.full_name%></p>
        <%= link_to 'Show', recipe, class: "btn btn-primary mt-2"%>
        <%if recipe.author != current_user%> 
          <%if recipe.users.include?(current_user)%>
            <%=link_to 'Unsave',unlike_recipe_path(current_user, recipe), method: :delete, class:"btn btn-primary mt-2"%>
          <%else%>
            <%=link_to 'Save', like_recipe_path(current_user, recipe), method: :post, class: "btn btn-primary mt-2" %>
          <%end%>
        <%end%>
      </div>
    </div>
 </div>
<%end%>
</div>


