<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-md-10 col-md-offset-8">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: 'form-control'%>

      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: 'form-control' %>

      <%= form.label :username %>
      <%= form.text_field :username, class: 'form-control' %>

      <%= form.label :password%>
      <%= form.password_field :password_hash, class: 'form-control', placeholder: "Password" %>

      <%= form.submit "Submit", class: "btn btn-primary mb-4 mt-4" %>
  </div>
</div>
<% end %>
