<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to image_tag('avatar.png', class: "avatar1") + "My Profile", current_user, class: "btn btn-primary mb-4 mt-2" %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Username</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
   <tr>
      <td><%=image_tag user.profile_image, class: "avatar"%><%=user.first_name %></td> 
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= link_to 'Show', user  %></td>
    </tr>
  <%end%>
</table>
