<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-10 col-md-offset-8">
      <%= form.label :ingredient_name %>
      <%= form.text_area :ingredient_name, class: 'form-control'%>

      <%= form.label :recipe_id%>
      <%= form.text_field :recipe_id, class: 'form_control'%>

      <%= form.submit "Add Ingridient", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
